:root {
  --primary-color: #1c1c1c;
  --secondary-color: #d3d5da;
  --font-size-xlarge: 48px;
  --font-size-large: 32px;
  --font-size-medium: 24px;
  --font-size-small: 20px;
  --icon-size-xlarge: 64px;
  --icon-size-large: 48px;
  --icon-size-medium: 24px;
  --icon-size-small: 20px;
  --h1-font-size-xlarge: 186px;
  --h1-font-size-large: 128px;
  --h1-font-size-medium: 64px;
  --h1-font-size-small: 32px;
  --font-family: 'Cardo';
  --recording-icon-small: 60px;
  --recording-icon-medium: 84px;
  --recording-icon-large: 124px;
  --recording-icon-xlarge: 152px;
}

* {
  font-family: var(--font-family), serif;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: var(--font-size-small);
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    font-size: var(--font-size-medium);
  }
  @media (min-width: 992px) {
    font-size: var(--font-size-large);
  }
  @media (min-width: 1200px) {
    font-size: var(--font-size-xlarge);
  }
}

h1 {
  font-size: var(--h1-font-size-small);
  margin: 0 20px;

  @media (min-width: 768px) {
    font-size: var(--h1-font-size-medium);
  }
  @media (min-width: 992px) {
    font-size: var(--h1-font-size-large);
  }
  @media (min-width: 1200px) {
    font-size: var(--h1-font-size-xlarge);
  }
}

h2 {
  margin: 0 auto;
}

.navigation {
  padding: 10px 25px;
  place-items: flex-end;
  font-size: calc(var(--font-size-small) - 4px);

  @media (min-width: 768px) {
    font-size: calc(var(--font-size-medium) - 4px);
  }
  @media (min-width: 992px) {
    font-size: calc(var(--font-size-large) - 4px);
  }
}

a {
  color: var(--secondary-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 4px;
  width: fit-content;
  padding: 8px 0;
  border-radius: 16px;

  &:hover {
    text-decoration: underline;
  }
}

a.foyer {
  position: absolute;
  top: 20px;
  right: 20px;
  left: auto;
}

svg.feather {
  width: var(--icon-size-small);
  height: var(--icon-size-small);

  @media (min-width: 768px) {
    width: var(--icon-size-medium);
    height: var(--icon-size-medium);
  }
  @media (min-width: 992px) {
    width: var(--icon-size-large);
    height: var(--icon-size-large);
  }
}

button {
  background-color: transparent;
  color: var(--secondary-color);
  border: none;
  cursor: pointer;
}

.audio {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  row-gap: 20px;

  .audio-controllers {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    margin-top: 20px;
    justify-content: center;
  }

  button#recordingButton {
    position: relative;
    width: fit-content;
    margin: 0 auto;

    svg.feather-mic {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: var(--recording-icon-small);
      height: var(--recording-icon-small);
      stroke-width: 1px;

      @media (min-width: 768px) {
        width: var(--recording-icon-medium);
        height: var(--recording-icon-medium);
      }
      @media (min-width: 992px) {
        width: var(--recording-icon-large);
        height: var(--recording-icon-large);
      }
    }

    svg.feather-circle {
      width: calc(var(--recording-icon-small) * 2);
      height: calc(var(--recording-icon-small) * 2);
      stroke-width: 1px;

      @media (min-width: 768px) {
        width: calc(var(--recording-icon-medium) * 2);
        height: calc(var(--recording-icon-medium) * 2);
      }
      @media (min-width: 992px) {
        width: calc(var(--recording-icon-large) * 2);
        height: calc(var(--recording-icon-large) * 2);
      }
    }
  }
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  height: 75%;
  transform: translate(-50%, -50%);
  border: var(--secondary-color) 1px solid;
  border-radius: 25px;
  background-color: var(--primary-color);
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 768px) {
    padding: 50px;
  }

  .content {
    flex-grow: 1;
    overflow: scroll;
  }

  button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 15px;
    padding: 10px 30px;
    font-size: calc(var(--font-size-small) - 2px);
    margin-left: 50%;
    transform: translateX(-50%);
    width: fit-content;

    @media (min-width: 768px) {
      font-size: calc(var(--font-size-medium) - 4px);
    }
    @media (min-width: 992px) {
      font-size: calc(var(--font-size-large) - 4px);
    }
    @media (min-width: 1200px) {
      font-size: calc(var(--font-size-xlarge) - 4px);
    }
  }
}

.popup#outro {
  display: none;
}
